body {background-color: blue;}
.Produtos{display: flex;
           flex-direction: column;     
            width: 200px;

                                }
.Produtos img{

    width: 200px;
    text-align: center;
    }
#bananas {
    
}